<div class="container">
    <div class="card" *ngIf="questions.length > 0">
        <div class="card-header">
            <h2>{{ currentDomainAr }}</h2>
        </div>
        <div class="flex flex-col md:flex-row mb-5 border shadow rounded-lg p-5" *ngFor="let question of questions; let i = index">
            <!-- <div class="question-number">{{ i + 1 }}</div> -->
            <div class="flex-1">
                <p class="text-xl font-medium">{{ question.q }}</p>
                <p *ngIf="question.th" class="mt-2 text-lg text-gray-600 dark:text-gray-300">
                    {{ question.th }}
                </p>
            </div>

            <div class="flex self-center justify-end mt-4 md:mt-0">
                <button class="answer-btn ml-2" [class.selected]="question.ans === 'yes'" (click)="selectAnswer(i, 'yes')">نعم</button>
                <button class="answer-btn" [class.selected]="question.ans === 'no'" (click)="selectAnswer(i, 'no')">لا</button>
            </div>
        </div>

        <div class="submit-section">
            <button pButton class="submit-btn" (click)="nextAgeRange()" [class.disabled]="disableSubmit() || isLoading" [loading]="isLoading">التالي</button>
        </div>
    </div>

    <div class="loading" *ngIf="questions.length === 0">
        <p>جاري تحميل الأسئلة...</p>
        <button (click)="getAgeRangeBlockQuestions()">تحميل الأسئلة</button>
    </div>
</div>
