.card {
    padding: 1rem;

    .p-button {
        margin-right: 0.5rem;
    }

    .p-datatable {
        margin-bottom: 1rem;
    }
}
@media (max-width: 600px) {
    ::ng-deep .p-dialog {
        width: 90% !important;
    }
}
