<div class="error-container">
    <div class="error-card">
        <!-- Logo Section -->
        <div class="logo-section">
            <div class="logo-container">
                <img src="assets/images/Logo 2.png" alt="logo" class="logo" />
            </div>
        </div>

        <!-- Content Section -->
        <div class="content-section">
            <div class="error-content">
                <h2>{{ errorMessage }}</h2>
            </div>
            <div class="action-buttons text-center">
                <button class="btn btn-primary" (click)="goToForm()">الرجوع الى تسجيل الاستمارة</button>
            </div>
        </div>
    </div>
</div>
